<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
    <title>flask chat</title>
    
    
    
    <script>
        const socket = io();
        $(document).ready(function(){
        function send_message() {
            message = $("#message_input").val();
            $("#chat_messages").append(`<div class="float-right w-[70%] px-1 py-1"><div class="float-right bg-slate-50 rounded-sm">{{username}}</div><div class="float-right bg-slate-50 rounded-sm w-[100%] text-ellipsis">${message}</div></div>`);
            socket.emit("new_message_client",{"username":"{{ username }}","message":message});
            $("#message_input").val('');

            $("#chat_messages").animate({
            scrollTop: $(
            '#chat_messages').get(0).scrollHeight
            }, 100);

        };

        $( "#message_input" ).keydown(function(event) {
            if (event.key == "Enter"){
                if ($("#message_input").val() != ""){
                    send_message();
                }
            };
        });
        socket.on("new_message_server",function(data) {
            console.log("new sirver ,essage")
            if(data['username'] != '{{username}}'){
                $("#chat_messages").append(`<div class="float-left w-[70%] px-1 py-1"><div class="float-left bg-slate-50 rounded-sm">${data['username']}</div><div class="float-left bg-slate-50 rounded-sm w-[100%] text-ellipsis">${data['message']}</div></div>`)
                $("#chat_messages").animate({
            scrollTop: $(
            '#chat_messages').get(0).scrollHeight
            }, 100);
            }
        });
    });
    </script>



</head>
<body class="flex justify-center items-center h-screen">
        <div class="border-[0.2rem] rounded-md w-[70%] h-[95%] bg-slate-500 border-slate-900">
            <div class="overflow-y-scroll w-[100%] h-[95%]" id="chat_messages">
                <p class="text-center">flask chat - {{ username }}</p>
            </div>
            <div class="w-[100%] h-[5%]">
                <input type="text" id="message_input" class="w-[100%] h-[100%] float-left p-0 rounded-sm" placeholder="enter message">
            </div>
        </div>
    </div>
</body>
</html>